html, body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualiser {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 80%;
}

.visualiser > div {
  border: 1px solid black;
  content: "";
  background-color: blue;
}

.visualiser > div.min {
  background-color: green;
}

.visualiser > div.current {
  background-color: red;
}